/* ////////////////Wrapper-B1///////////// */
.wrapper-B1 .action-card {
    padding-top: 180px !important;
    border-radius: 0px !important;
    max-width: 1916px;
    margin: 0 auto;
    /* background-image: url("../../../public/images/revolution-img.png") !important; */
}
/* ////////////////Wrapper-B2///////////// */
.Wrapper-B2 {
    padding: 50px; 
}
.Wrapper-B2 .swiper-pagination {
    position: absolute;
    left: 41.5%;
    bottom: 18px;
    color: white;
    z-index: -1;
    
}
/* ////////////////Wrapper-B3///////////// */
.Wrapper-B3{
    padding: 50px 0px;
}
.Wrapper-B3 button{
        margin: 10px 5px;
        padding: 10px 20px;
        background-color: #090B0C;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
.Wrapper-B3 .fit-card{
    border: 1px solid #989898;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-basis: 30%;
        padding: 24px 20px;
        gap: 30px;
        border-radius: 12px;
        transition: border-color .3s, box-shadow .3s;    
}
.wrapper-B3-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    padding-top: 50px;
}
/*////////////////wrapepr-B4////////////// */
.Wrapper-B4 {
    background-color: #8700FF1A;
    padding: 50px 0px;
    max-width: 1916px;
    margin: 0 auto;
}

.Wrapper-B4-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 88%;
    margin: 0 auto;
}

.Wrapper-B4 p {
    line-height: 24px;
}
/*////////////////wrapepr-B5////////////// */
.wrapepr-B5{
    padding-top: 50px;
}

/* media query */
@media (max-width: 1200px) {
    .Wrapper-B2 .swiper-pagination {
        left: 40.5%;
    }
    .Wrapper-B4-content{
        width: 100%;
    }
}
@media (max-width: 992px) {
    .Wrapper-B2 .swiper-pagination {
        left: 39%;
    }
    .wrapper-B3-cards .fit-card {
        padding: 15px;
        gap: 10px;
    }
}
@media (max-width: 768px) {
    .Wrapper-B2 .swiper-pagination {
        left: 0%;
    }
    .wrapper-B3-cards .fit-card {
        flex-basis: 45%;
    }
}
@media (max-width: 576px) {
    .wrapper-B1 .action-card {
        padding-top: 140px !important;
    }
    .Wrapper-B2 .swiper-pagination {
        display: none;
    }
    .wrapper-B3-cards .fit-card {
        gap: 0px;
    }
}