/* /////////////////wrapper-O1//////////////// */
.wrapper-O1 .action-card {
    padding-top: 120px !important;
    border-radius: 0px !important;
    max-width: 1824px;
    margin: 0 auto;
    /* background-image: url("../../../public/images/revolution-img.png") !important; */
}

.wrapper-O1 .action-card .action-card-item {
    width: 1020px !important;
}

.wrapper-O1 .action-card h1 {
    text-align: center;
}

/* /////////////////wrapper-O2//////////////// */
.wrapper-O2 {
    padding-top: 50px;
}

.wrapper-O2-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 780px;
    margin: 0 auto;
}

/* /////////////////wrapper-O4//////////////// */
.wrapper-O4 {
    padding: 40px 0px;
}

/* /////////////////wrapper-O5//////////////// */
.wrapper-O5 {
    padding-top: 50px;
}

@media (max-width: 1200px) {
    .wrapper-O1 .action-card .action-card-item {
        width: 890px !important;
    }
}

@media (max-width: 992px) {
    .action-card .action-card-item {
        width: 560px !important;
    }

    .wrapper-O2-content {
        width: 630px;
    }

    .wrapper-O1 .action-card .action-card-item {
        width: 730px !important;
    }
}

@media (max-width: 768px) {
    .wrapper-O2-content {
        width: 100%;
    }

    .wrapper-O1 .action-card .action-card-item {
        width: 575px !important;
    }

    .wrapper-O1 .action-card h1 {
        line-height: 44px !important;
    }
}

@media (max-width: 576px) {
    .action-card .action-card-item {
        width: 300px !important;
    }

    .wrapper-O1 .action-card .action-card-item {
        width: 100% !important;
    }

    .wrapper-O1 .action-card h1 {
        line-height: 34px !important;
    }
}