.wrapper-8th {
    padding-top: 50px;
}

.industries-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 14px;
    margin-top: 50px;
}

.industry {
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid #d650ff;
    box-shadow: 0px 0px 2.4px 0px #0015ff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.industry:hover {
    background: linear-gradient(135deg, rgba(196, 0, 255, 1) 1%, rgba(136, 0, 255, 1) 84%, rgba(136, 0, 255, 1) 100%);
}

/* ------------------------------------- */
.wrapper-banner {
    display: flex;
    padding-top: 250px;
}

.banner-span-top {
    background: linear-gradient(90.12deg, #D5A5FF 0.05%, #8700FF 63.81%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 30px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 58%;
}

.banner-span-1 {
    display: inline-flex;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 49.28px;
    letter-spacing: -0.02em;
    background-color: #8700FF;
    padding: 4px 20px;
    border-radius: 50px;
    gap: 8px;
    margin: 0px 8px;
}


.banner-span {
    display: flex;
    align-items: center;
    gap: 20px;
}



.banner-ul {
    margin-top: 20px;
}

.banner-ul ul {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.banner-ul ul li {
    color: #46C9DC;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.52px;
    letter-spacing: -0.02em;
    margin: 0px 12px 20px 0px;
}

.banner-image {
    width: 42%;
    display: flex;
    justify-content: center;
    position: relative;
}

.banner-image .figure1 {
    position: absolute;
    top: -70px;
    left: -20;
    width: 100%;
}

.banner-image figure {
    position: absolute;
    width: 70%;
    height: auto;
    margin: auto;
}


.banner-image img {
    width: 100%;
    height: auto;
}

/* ------------------------------------- */
.wrapper-2nd {
    display: flex;
    padding-top: 50px;
}

.revolution-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52%;
}

.revolution-img figure {
    width: 100%;
    height: auto;
}

.revolution-img img {
    width: 100%;
    height: auto;
}

.revolution-content {
    width: 48%;
    padding-left: 85px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.revolution-span-1 {
    color: #989898;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.28px;
    letter-spacing: -0.01em;
}

/* ------------------------------------- */
.wrapper-3rd {
    padding-top: 50px;
}

.wrapper-3rd h2 {
    margin-bottom: 50px;
}

.voice-container {
    background-image: url("../../public/images/voice_background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.voice {
    padding: 6px 0px;
    width: 13%;
    margin: 0 auto;
}

/*  */
.play-btn {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 35px;
    cursor: pointer;
}

.play-btn svg {
    margin-left: 10px;
    color: #B835C7;
    width: 80px;
    /* Set desired width */
    height: 80px;
}

.audio-button {
    width: 100%;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.audio-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

.wave-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* Adjusted icon width */
    height: 60%;
    /* Adjusted icon height */
}

/* Individual waves */
.wave {
    width: 15px;
    border-radius: 10px;
    background: linear-gradient(180deg, #1A3761 0%, #B835C7 100%);
}

/* Wave heights */
.wave1 {
    height: 40%;
    /* First wave height */
}

.wave2 {
    height: 60%;
    /* Middle wave height */
}

.wave3 {
    height: 100%;
    /* Third wave height */
}

.wave4 {
    height: 60%;
    /* Fourth wave height */
}

.wave5 {
    height: 40%;
    /* Fifth wave height */
}

/* Animation */
@keyframes waveAnimation {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(1.5);
    }

    100% {
        transform: scaleY(1);
    }
}

/* Apply animation when the button is active */
.audio-button.animating .wave1 {
    animation: waveAnimation 0.8s infinite ease-in-out;
}

.audio-button.animating .wave2 {
    animation: waveAnimation 0.8s infinite ease-in-out;
    animation-delay: 0.2s;
}

.audio-button.animating .wave3 {
    animation: waveAnimation 0.8s infinite ease-in-out;
    animation-delay: 0.4s;
}

.audio-button.animating .wave4 {
    animation: waveAnimation 0.8s infinite ease-in-out;
    animation-delay: 0.6s;
}

.audio-button.animating .wave5 {
    animation: waveAnimation 0.8s infinite ease-in-out;
    animation-delay: 0.8s;
}

/*  */

/* ------------------------------------- */
.wrapper-4th {
    padding-top: 50px;
}

.box-4th-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    padding-top: 50px;
}

.fit-card-hover:hover {
    border: 1px solid #C300FFA3;
    box-shadow: 0 4px 10px rgba(195, 0, 255, 0.3);
}

/* ------------------------------------- */
.wrapper-6th {
    overflow-x: hidden !important;
    padding: 50px 0px;
}

.wrapper-6th-content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 100px;
    /* top: 50%; */
}

.wrapper-6th-content h2 {
    font-size: 148px !important;
    font-weight: 400 !important;
    line-height: 60px !important;
    letter-spacing: -0.02em !important;
}

.wrapper-6th-animationCard {
    width: 343px;
    height: 480px;
    padding: 30px 17px;
    position: absolute;
    top: 30%;
    backdrop-filter: blur(10px);
    border-radius: 13px;
    /* background: linear-gradient(0deg, #262626, #262626),
        radial-gradient(366.83% 228.36% at 4.17% 2.3%, rgba(200, 0, 164, 0) 0%, rgba(132, 0, 250, 0.176) 100%); */
        background: linear-gradient(145deg, rgba(38,38,38,1) 2%, rgba(50,35,54,0.532127808988764) 39%, rgba(50,35,54,0.4899929775280899) 62%, rgba(54,32,72,1) 100%);
}

.wrapper-6th-animationCard img {
    width: 100%;
    height: auto;
}


.wrapper6custom-1 {
    rotate: 10deg !important;
}

.wrapper6custom-2 {
    rotate: 20deg !important;
}

.wrapper6custom-3 {
    rotate: 0deg !important;
}

.wrapper6custom-4 {
    rotate: 10deg !important;
}




/* ------------------------------------- */
.wrapper-7th {
    background-color: #8700FF1A;
    padding: 50px 0px;
    max-width: 1916px;
    margin: 0 auto;
}

.wrapper-7th-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 66%;
    margin: 0 auto;
}

.wrapper-7th-content p {
    line-height: 40px;
}

/* ------------------------------------- */
.wrapper-9th {
    padding-top: 50px;
}

.box-9th-wrapper .fit-card {
    border: 1px solid #989898;
}

.box-9th-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    padding-top: 50px;
}

.view-more-button,
.view-less-button {
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #090B0C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* ------------------------------------- */
.wrapper-10th {
    padding-top: 50px;
}

.wrapper-11th {
    padding: 50px 0px;
}

.wrapper-11th .action-card-item {
    width: 770px;

}

@media (min-width: 1400px) {
    .wrapper-2nd {
        padding-top: 80px;
    }
}

@media (max-width: 1399px) {
    .wrapper-2nd {
        padding-top: 80px;
    }
}

@media (max-width: 1200px) {
    .banner-span-1 {
        font-size: 20px;
        line-height: 41.28px;
        padding: 4px 16px;
        gap: 6px;
    }

    .banner-ul ul li {
        font-size: 13px;
        font-weight: 500;
        line-height: 18.52px;
        margin: 0px 12px 16px 0px;
    }

    .banner-span-top {
        line-height: 26px;
        font-size: 14px;
    }

    .banner-ul {
        margin-top: 0px;
    }

    .revolution-content {
        width: 58%;
        padding-left: 56px;
        gap: 10px;
    }

    .revolution-span-1 {
        font-size: 20px;
        line-height: 20.28px;
    }

    .wrapper-6th-animationCard {
        width: 300px;
        height: 400px;
        padding: 20px 18px;
    }

    .wrapper-7th-content {
        width: 77%;
    }

    .play-btn {
        padding: 25px;
    }

    .play-btn svg {
        width: 70px;
        height: 70px;
    }

    .audio-button {
        height: 120px;
    }
}

@media (max-width: 992px) {
    .wrapper-banner {
        padding-top: 220px;
    }

    .wrapper-2nd {
        padding-top: 40px;
    }

    .industry {
        padding: 18px;
    }

    .banner-span {
        gap: 10px;
    }

    .banner-ul ul li {
        font-size: 11px;
        margin: 0px 10px 10px 0px;
    }

    .banner-span-top {
        line-height: 20px;
        font-size: 12px;
    }

    .revolution-span-1 {
        font-size: 18px;
        line-height: 10px;
    }

    .fit-card {
        padding: 13px 13px;
        gap: 15px;
    }

    .wrapper-7th-content {
        width: 85%;
    }

    .banner-image .figure1 {
        position: absolute;
        top: -45px;
        left: -10;
    }

    .wrapper-6th-content h2 {
        font-size: 120px !important;
    }

    .wrapper-6th-animationCard {
        top: 30%;
        width: 260px;
        height: 360px;
        padding: 20px 16px;
    }

    .play-btn {
        padding: 22px 18px;
    }

    .play-btn svg {
        width: 50px;
        height: 50px;
    }

    .audio-button {
        height: 93px;
    }

    .wave {
        width: 10px;
    }

    .wrapper-11th .action-card-item {
        width: 575px;
    }
}

@media (max-width: 768px) {
    .wrapper-banner {
        padding-top: 180px;
    }

    .industry {
        flex-basis: 47%;
        padding: 14px;
    }

    .banner-image {
        display: none;
    }


    .banner-content {
        align-items: center;
        width: 100%;
    }

    .banner-h1 {
        text-align: center;
    }

    .banner-span-1 {
        font-size: 15px;
        line-height: 35px;
        padding: 2px 7px;
        gap: 4px;
    }

    .banner-ul ul {
        justify-content: center;
    }

    .revolution-img {
        display: none;
    }

    .revolution-content {
        padding: 0px;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .wrapper-4th-card {
        gap: 10px;
    }

    .box-4th-wrapper .fit-card {
        flex-basis: 47%;
        padding: 10px 10px;
        gap: 10px;
    }

    .wrapper-7th-content {
        width: 100%;
    }

    .wrapper-7th-content p {
        line-height: 30px;
    }

    .wrapper-6th-content h2 {
        font-size: 90px !important;
    }

    .wrapper-6th-animationCard {
        width: 230px;
        height: 300px;
        padding: 0px 16px;
    }

    .play-btn {
        padding: 10px 16px;
    }

    .audio-button {
        height: 70px;
    }

    .wave {
        width: 10px;
    }

}

@media (max-width: 576px) {
    .wrapper-banner {
        padding-top: 140px;
    }

    .industry {
        padding: 5px 5px;
    }

    .banner-span-1 {
        font-size: 12px;
        padding: 2px 6px;
    }

    .banner-ul ul li {
        font-size: 10px;
        margin: 0px 10px 6px 0px;
    }

    .revolution-content {
        width: 90%;
    }

    .revolution-span-1 {
        font-size: 16px;
    }

    .box-4th-wrapper .fit-card {
        flex-basis: 100%;
        padding: 8px 8px;
    }

    .wrapper-6th-animationCard {
        width: 190px;
        height: 290px;
        padding: 10px;
    }

    .wrapper-6th-content h2 {
        font-size: 40px !important;
    }

    .wrapper-7th-content p {
        line-height: 25px;
    }

    .play-btn {
        padding: 5px 7px;
    }

    .audio-button {
        height: 60px;
    }

    .wave {
        width: 5px;
    }

    .wrapper-11th .action-card-item {
        width: 100%;
    }
}