@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #989898;
  --body: #090b0c;
  /* --secondary: #bb46ff;
  --whitecolor: #ffffff;
  --text: #9c9d9f;
  --accent: #000000;
  --backgorund: #0a101c;
  --border: #3c3e46;
  --card-shadowcolor: #00bdff40;
  --accordian-color: #12202a;
  --accordian-body-color: #090e19;
  --card-background-color: #02060f; */
  /* global font  */
  /* --font-play: "Play", sans-serif; */
}

body {
  font-family: Instrument Sans;
  background-color: var(--body) !important;
  color: white !important;
}

.container {
  width: 90% !important;
  max-width: 1200px !important;
  margin: 0 auto;
}

.text-center {
  text-align: center !important;
}

h1 {
  font-size: 64px !important;
  font-weight: 500;
  line-height: 78px !important;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 48px !important;
  font-weight: 500;
  line-height: 50px !important;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 24px !important;
  font-weight: 500;
  line-height: 32px !important;
}

h4 {
  font-size: 24px !important;
  font-weight: 500;
  line-height: 30px !important;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--primary);
}
ol, ul {
  padding : 0px !important;
}

.margin-top {
  margin-top: 20px;
}

.btn1 {
  padding: 13px 66px;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  background: radial-gradient(50% 136.52% at 50% 50%, #8700FF 0%, #510099 100%);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn1:hover {
  box-shadow: 0 0 20px rgba(135, 0, 255, 0.5), 0 0 30px rgba(81, 0, 153, 0.4);
}


@media (max-width: 1399px) {}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px !important;
  }

  h1 {
    font-size: 55px !important;
    font-weight: 500;
    line-height: 68px !important;
  }

  h2 {
    font-size: 41px !important;
    line-height: 42px !important;
  }

  h3 {
    font-size: 18px !important;
    line-height: 28px !important;
  }

  h4 {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  p {
    line-height: 22px;
  }

  .btn1 {
    padding: 10px 35px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 920px !important;
  }

  h1 {
    font-size: 45px !important;
    line-height: 58px !important;
  }

  h2 {
    font-size: 34px !important;
    line-height: 38px !important;
  }

  h3 {
    font-size: 15px !important;
    line-height: 23px !important;
  }

  h4 {
    font-size: 15px !important;
    line-height: 21px !important;
  }

  p {
    font-size: 13px;
    line-height: 18px;
  }

  .btn1 {
    padding: 10px 28px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px !important;
    line-height: 48px;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 13px !important;
    line-height: 23px !important;
  }

  h4 {
    line-height: 16px !important;
  }

  .btn1 {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100% !important;
  }

  h1 {
    font-size: 26px !important;
    line-height: 49px !important;
  }

  h2 {
    font-size: 20px !important;
    line-height: 22px !important;
  }

  .btn1 {
    padding: 10px 15px;
  }
}